
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
data-sly-call="${clientlib.all @ categories='diagonal'}"/>


<div class="diagonal">

    <div class="diagonal__inner" style="background-image:url('/content/dam/silverseatest/perfect-day-coco-cay-island-aerial-blue-ocean.jpg');">
	<div class="diagonal__innerWrapper">

        <div class="container-fluid diagonal__container">
            <div class="diagonal__text">
        
                <div class="diagonal__preheading">WATERSCAPES IN</div>
                <div class="diagonal__title">EVERY SHADE OF BLUE</div>
                <div class="diagonal__description"> A visit to the Bahamas is filled with exciting destinations, like Nassau, Grand Bahama, Bimini and Royal Caribbeans private island Perfect Day at CocoCay, each with its own style and vibe.</div>
            </div>

            <div class="diagonal__row row" style="margin:0 0px; ;">
        
                    <div class="diagonal__columns col-lg-6">
                    	<div class="diagonal__figure"><img class="threeColimage__image" src="/content/dam/silverseatest/miami-florida-south-beach-aerial.jpg" alt="colorful-coral-reefs-and-marine-life" /></div>
                    	<div class="diagonal__column-text">
                            <h4 class="diagonal__column-title">SHORT, SWEET AND SUN-SOAKED</h4>
                            <p class="diagonal__column-description">Take a short 3-4-night cruise to the Bahamas from Fort Lauderdale or Miami, and pack your adventure full of things to do and aquatic opportunities of every form, from exploring coral reefs to venturing down a waterslide and swimming with dolphins.</p>
                        </div>
                    </div>
                    
                    <div class="diagonal__columns col-lg-6">
                    	<div class="diagonal__figure"><img class="threeColimage__image" src="/content/dam/silverseatest/perfect-day-coco-cay-island-aerial-blue-ocean.jpg" alt="colorful-coral-reefs-and-marine-life" /></div>
                        <div class="diagonal__column-text">
                        <h4 class="diagonal__column-title">SHORT, SWEET AND SUN-SOAKED</h4>
                        <p class="diagonal__column-description">Take a short 3-4-night cruise to the Bahamas from Fort Lauderdale or Miami, and pack your adventure full of things to do and aquatic opportunities of every form, from exploring coral reefs to venturing down a waterslide and swimming with dolphins.</p>
                        </div>
                    </div>
                    </div>
                <div class="diagonal__bottom">
                    <div class="diagonal__bottom-title">BASK IN A BAHAMIAN BREEZE</div>
                    <p class="diagonal__bottom-description">Soak up island views and aquatic adventures in the Bahamas</div>
    
                </div>
		</div>
	</div>
</div>
</div>